{% extends "index.html" %}
{% block content %}
  <h1>San Diego's Python Community</h1>
  <p>Discussing common Python-related interests to encourage, inspire, and share knowledge</p>

  <div style="margin-top: 30px;">
    <h2>Upcoming events</h2>
    <p>There are a number of events happening almost every week. Our general meetup is usually the last Thursday of the month. For up-to-date information, please check our <a href="http://meetup.com/pythonsd">meetup</a> page.</p>
  </div>

  <div style="margin-top: 30px;">
    <h2>Hire a Pythonista</h2>
    <p>Are you looking to hire a Python developer in San Diego? You can get your posting in front of over 700 members of the San Diego Python community for free. See our <a href="./pages/job-posting-guidelines.html">Job posting guidelines</a> for more details.</p>
  </div>

  <div style="margin-top: 30px;">
    <h2>Your Python project</h2>
    <p>In addition to hosting periodic project days, we have a <a href="https://groups.google.com/group/pythonsd">Google group</a> setup for getting local help on your problem. You can also bring a tough problem to the monthly general meeting as well.</p>
  </div>

  <div style="margin-top: 30px;">
    <h2>Sponsors</h2>
    <p>
    We would like to thank the companies and organizations who have hosted or sponsored past events. Let us know if you would like to become a sponsor or host by emailing <a href="mailto:sandiegopython@gmail.com">sandiegopython@gmail.com</a>. We have worked with the Python Software Foundation to <a href="https://psfmember.org/civicrm/contribute/transact?reset=1&id=9">accept contributions on our behalf</a>. Donations entirely go to hosting meetups and workshops and paying for a venue.
    <p>
      <a href="http://aicenterca.com/"><img src="{{ SITEURL }}/static/images/sponsors/ansir_logo.png" alt="Ansir Innovation Center" class="sponsor" /></a>
      <a href="http://www.cukerinteractive.com/"><img src="{{ SITEURL }}/static/images/sponsors/cuker_logo.png" alt="Cuker Interactive" class="sponsor" /></a>
      <a href="http://co-merge.com/"><img src="{{ SITEURL }}/static/images/sponsors/comerge_logo.png" alt="Co-Merge" class="sponsor" /></a>
      <a href="http://brightscope.com/"><img src="{{ SITEURL }}/static/images/sponsors/brightscope_logo.png" alt="Brightscope" class="sponsor" /></a>
      <a href="http://qualcomm.com/"><img src="{{ SITEURL }}/static/images/sponsors/qualcomm_logo.png" alt="Qualcomm" class="sponsor" /></a>
      <a href="https://enthought.com/"><img src="{{ SITEURL }}/static/images/sponsors/enthought_logo.png" alt="Enthought" class="sponsor" /></a>
      <a href="http://nubedehelado.com/"><img src="{{ SITEURL }}/static/images/sponsors/nubedehelado_logo.png" alt="Nube de Helado" class="sponsor" /></a>
      <a href="http://www.packtpub.com/mastering-object-oriented-python/book"><img src="{{ SITEURL }}/static/images/sponsors/mastering-oop-book.jpg" alt="Mastering Object Oriented Programming" class="sponsor" /></a>
      <a href="http://www.jetbrains.com"><img src="{{ SITEURL }}/static/images/sponsors/jetbrains.png" alt="JetBrains" class="sponsor" /></a>
      <a href="http://hired.com"><img src="{{ SITEURL }}/static/images/sponsors/hired.png" alt="Hired" class="sponsor" /></a>
      <a href="https://www.scalematrix.com"><img src="{{ SITEURL }}/static/images/sponsors/scalematrix.png" alt="ScaleMatrix - a local hybrid service provider of cloud, colocation, disaster recovery, storage, and managed IT services" class="sponsor" /></a>
    </p>
  </div>
{% endblock %}
