{% extends "index.html" %}
{% block content %}
  <h1>San Diego's Python Community</h1>
  <p>A place to learn, share and meet cool San Diego pythonistas</p>

  <div style="margin-top: 30px;">
    <h2>Upcoming events</h2>
    <p>There are a number of events happening almost every week. Our general meetup is usually the last Thursday of the month. For up-to-date information, please check our <a href="http://meetup.com/pythonsd">meetup</a> page.</p>
  </div>

  <div style="margin-top: 30px;">
    <h2>Your Python project</h2>
    <p>In addition to hosting periodic project days, we have a <a href="https://groups.google.com/group/pythonsd">mailing list</a> setup for getting local help on your problem. You can also bring a tough problem to the monthly general meeting as well.</p>
  </div>

  <div style="margin-top: 30px;">
    <h2>Hire a Pythonista</h2>
    <p>Are you looking to hire a Python developer in San Diego? Post a brief description of your opening to our <a href="https://groups.google.com/group/pythonsd">mailing list</a>. Please specify whether it is freelance or full-time. Be concise and respectful.</p>
  </div>

  <div style="margin-top: 30px;">
    <h2>Sponsors</h2>
    <p>
      We would like to thank the companies and organizations who have hosted or sponsored past events. Let us know if you would like to become a sponsor or host.
    <p>
      <a href="http://aicenterca.com/"><img src="{{ SITEURL }}/theme/images/sponsors/ansir_logo.png" alt="Ansir Innovation Center" /></a>
      <a href="http://www.cukerinteractive.com/"><img src="{{ SITEURL }}/theme/images/sponsors/cuker_logo.png" alt="Cuker Interactive" /></a>
      <a href="http://co-merge.com/"><img src="{{ SITEURL }}/theme/images/sponsors/comerge_logo.png" alt="Co-Merge" /></a>
      <a href="http://brightscope.com/"><img src="{{ SITEURL }}/theme/images/sponsors/brightscope_logo.png" alt="Brightscope" /></a>
    </p>
  </div>
{% endblock %}
